body{
    background-color: #e0e5ec;
}

/* Header */
h1{
    font-family: 'Bebas Neue', cursive;
    margin-left: 50px;
    text-shadow: 3px 5px #c7c1c1;
    display:inline-block;
}

.boton{
    position: absolute;
    right: 0;
    margin-right: 40px;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;
    margin-top: 25px;
}

.menu a{
    color: white;
}


/* Contenedor */
.all{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    Grid-row-gap: 15px;
    margin-bottom: 150px;
}

.list{
    width: 80%;
    margin: auto;
}


/* Etiquetas */
.etiquetas{
    display: grid;
    grid-template-columns: 0.2fr 2.3fr 2.4fr 1fr;
    width: 80%;
    margin: auto;
}
.etiquetas__num, .etiquetas__title, .etiquetas__date, .etiquetas__duration{
    display: flex;
    justify-content: center;
    
}


/* Canciones */
.list__cancion{
    grid-template-columns: 0.2fr 1fr 2fr 1fr 2fr;
    display: grid;
    background-color: #ffffff;
    cursor: pointer;
    margin: auto;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), 
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.list__cancion:hover{
    background-color: #c7c1c1;
}


.list__cancion__img img{
    width: 70px;
}

.list__cancion__union{
    display: grid;
}

.list__cancion__title{
    padding-top: 9px;
    font-family: 'Zen Kurenaido', sans-serif;
}

.list__cancion__duration, .list__cancion__num, .list__cancion__date {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Zen Kurenaido', sans-serif;
}


/* Reproductor */
:root{
    --background: #e0e5ec;
    --gray: #797d7f;
    --progress-transform: 0%;
}

img{
    max-width: 100%;
}

.container_music{
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player{
    width: 300px;
    height: 550px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), 
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}


.player__controls{
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
}

.player__btn{
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -8px -8px 20px 0px #fff9,
    -6px -6px 20px 0px #fff9,
    8px 8px 20px #0001,
    5px 5px 6px 0px #0001;
    color: var(--gray);
}

.player__btn:active{
    box-shadow: inset -8px -8px 20px #fff9,
    inset 8px 8px 20px #0003,
    inset 5px 5px 6px;
}

.player__btn--small{
    min-width: 50px;
    min-height: 50px;
    color: white;
}

.player__title{
    font-weight: 600;
    font-size: 0.8em;
    color: #a1a1a1;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.player__album{
    width: 150px;
}

.player__img{
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgb(163, 177, 198),
    -2px -2px 7px rgb(163, 177, 177),
    -8px -8px 50px rgba(255, 255, 255, 0.8), 3px 3px 25px rgba(0, 0, 0, 0.6);
}

.player__artist{
    font-size: 1.2em;
    font-weight: 500;
    opacity: 0.5;
    margin: 20px 0px 20px 0px;
}

.player__song{
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    opacity: 0.5;
    margin: 0 0 25px 0;
}

.player__level{
    width: 80%;
    transform: var(--progress-transform);
    display: flex;
}

.player__level::-webkit-slider-runnable-track{
    background-color: #d7dbdb;
    height: 6px;
    border-radius: 3px;
}

.player__level::-webkit-slider-thumb{
    border-radius: 100%;
    background-color: #5c87fe;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}

.audio-duration{
    margin-top: -30px;
    display: flex;
    width: 78%;
    font-size: 10px;
    font-weight: 600;
    color: #a1a1a1;
    letter-spacing: 1px;
}

.start{
    flex: 1;
}

.player__audio{
    visibility: hidden;
}

.player__btn--medium{
    min-height: 70px;
    min-width: 70px;
}

.blue{
    background-color: #5c87fe;
    color: #fff;
}

.hide{
    display: none;
}

#play{
    border: none;
}

/* Menú */

.container2{
    visibility: none;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 20;
    font-size: 1.5em;
    display: none;
}

.container2 ul.menu{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background: #777e88;
    height: 100%;
    padding: 40px;
    opacity: .9;
    margin-top: -20px;
    transform: translate(400px);
    transition: transform .5s ease-in-out;
}
.container2 ul.menu.show{
    transform: translate(0);
}
.container2 ul.menu li{
    padding: 25px;
}

.container_content p{
    margin: 50px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: white;
}

.menu a:hover{
    border-bottom: 1px solid white;
    
}

@media (max-width: 700px) {
    .action{
        position: relative;
        z-index: 1000;
    }
}